@import "mobile.scss";

@media only screen and (min-width: 924px) {
    body {
        margin: 0 auto;
        max-width: 1440px;

        #container {
            flex-wrap: wrap; //wraps the whole container in to one and distributes items according to the width (remove flex direction)
            flex-direction: unset;
        }
        #slider-container {
            width: 60%;

            #navigation {
                button {
                    display: none;
                }

                .main-logo-container {
                    top: 3rem;
                    left: 3rem;
                    width: 80px;
                }
            }

            .slideshow-container {

                .next-prev-buttons {
                    display: none;
                }

                .image-hero-1 {
                    background: url(/images/desktop-image-hero-1.jpg);
                }

                .image-hero-2 {
                    background: url(/images/desktop-image-hero-2.jpg);
                }

                .image-hero-3 {
                    background: url(/images/desktop-image-hero-3.jpg)
                }

                .slides {
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100%;
                    background-position: center;
                    padding-bottom: unset;
                }
            }
        }

        .discover {
            margin: auto;
            width: 40%;
            padding: 0;

            .text-wrapper {
                width: 70%;
                padding: 20px 25px;
                margin: 0 auto;
            }

            #discover-button-container {
                display: block;
                position: relative;

                a img {
                    padding: 29px;
                    width: 14px;
                    vertical-align: bottom;
                }
            }

            
    
                h1 {
                    font-size: 35px;
                }
    
                .next-prev-buttons {
                    cursor: pointer;
                    position: absolute;
                    user-select: none;
                    right: 0;
                    bottom: 0;
                    padding: 0;
    
                    .prev {
                        margin-right: -3px;
                    }
    
                    .prev img:hover, 
                    .next img:hover {
                        background-color: $primaryColorDarkGray;
                        transition: 0.3s;
                    }
    
                    a {
                        padding: 0;
    
                        img {
                            padding: 20px;
                            width: 10px;
                            background-color: black;
                        }
                    }
                }
        }
    
        .photo-about-dark {
            width: 30%;
            padding-top: 0; 
            padding-bottom: unset;
        }

        .about {
            width: 35%;
            margin: 0 auto;
        }

        .photo-about-light {
            width: 30%;
            padding-bottom: unset;
        }
    }
}