$primaryColorGray: hsl(0, 0%, 63%);
$primaryColorBlack: hsl(0, 0%, 100%);
$primaryColorWhite: hsl(0, 0%, 100%);
$primaryColorDarkGray: hsl(0, 0%, 27%);

body {
    min-width: 375px;
    max-width: 768px;
    font-family: "Spartan", sans-serif;
}