$primaryColorGray: hsl(0, 0%, 63%);
$primaryColorBlack: hsl(0, 0%, 100%);
$primaryColorWhite: hsl(0, 0%, 100%);
$primaryColorDarkGray: hsl(0, 0%, 27%);


body {
    font-size: 12px;
    margin: 0;
    font-family: "Spartan", sans-serif;

        .the-container{
            display: flex;
            flex-direction: column;
        }

        .openBtn {
            position: absolute;
            z-index: 100;
            top: 2rem;
            left: 1rem;
            color: $primaryColorWhite;
            background: none;
            border: none;
            cursor: pointer;

            span {
                font-size: 35px;
                cursor: pointer;
            }

            .xIcon {
                display: none;
            }

        }

        nav .main-logo-container {
            width: 100px;
            position: absolute;
            top: 2.5rem;
            left: 40%;
        }

        nav #page-logo {
            width: 100%;
            height: auto;

        }

        #overlay {
            position: absolute;
            top: 0;
            width: 100%;
            right: 0;
            list-style: none;
            background-color: white;
            padding: 43px 20px;
            margin: 0;
            transition: all 0.3s ease;
            display: inline-flex;
            justify-content: flex-end;
            z-index: 10;

            li a {
                letter-spacing: 1px;
                text-transform: lowercase;
                color: $primaryColorDarkGray;
                font-size: 13px;
                padding: 10px 15px 10px 0px;
            }
        }

        nav #showMenu {
            transition: all 0.3s ease;
        }

        .slideshow-container {
            margin: auto;
            position: relative;

            .next-prev-buttons {
                cursor: pointer;
                position: absolute;
                user-select: none;
                right: 0;
                bottom: 0;
                padding: 0;

                img {
                    padding: 20px;
                    width: 20px;
                    background-color: black;
            }
            }

        }



    .slider-photo img,
    .photo-about-dark img,
    .photo-about-light img {
        width: 100%;
    }

    .photo-about-dark {
        padding-top: 25px;
    }

    .discover,
    .about {
        padding: 25px 20px;

        h1, h2 {
            padding-top: 25px;
        }

        h1 {
            font-size: 25px;
        }

        h2 {
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 13px;
        }
    }

    p {
        line-height: 1.4rem;
        color: $primaryColorGray;
        font-weight: 400;
        padding: 10px 0px 20px 0px;
    }

    .shop {
        margin-top: 25px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    a {
        letter-spacing: 10px;
        overflow: hidden;
        text-transform: uppercase;
        font-weight: 600;
        padding:10px 10px 10px 0px;
        text-decoration: none;
    }

    /*a:hover{
        border-bottom: 3px solid $primaryColorDarkGray;
    }*/

    .material-icons {
        font-size: 40px;
        font-weight: 400px;
    }

    .attribution {
        margin-top: 20px;

        a {
            letter-spacing: unset;
            text-transform: unset;
        }
    }


    
}

/* 
#navigation {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        transition: 0.3s;
        background-color: aqua;
    
        #overlay {
            position: relative;
            top: 5%;
            width: 100%;
            display: none; 
            flex-direction: row;

            a {
                padding: 15px;
                letter-spacing: 1px;
                display: block;
            }
        }

        */