$primaryColorGray: hsl(0, 0%, 63%);
$primaryColorBlack: hsl(0, 0%, 100%);
$primaryColorWhite: hsl(0, 0%, 100%);
$primaryColorDarkGray: hsl(0, 0%, 27%);

body {
    min-width: 375px;
    max-width: 768px;
    font-size: 12px;
    font-family: "Spartan", sans-serif;

    .the-container{
        display: flex;
        flex-direction: column;
    }

    .slider-photo img,
    .photo-about-dark img,
    .photo-about-light img {
        width: 100%;
    }

    .photo-about-dark {
        padding-top: 25px;
    }

    .discover,
    .about {
        padding: 25px 15px;

        h1, h2 {
            padding-top: 25px;
        }

        h1 {
            font-size: 30px;
        }

        h2 {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 15px;
        }
    }

    p {
        line-height: 1.4rem;
        color: $primaryColorGray;
        font-weight: 400;
        padding: 20px 0px 20px 0px;
    }

    .shop {
        margin-top: 25px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    a {
        letter-spacing: 10px;
        overflow: hidden;
        text-transform: uppercase;
        font-weight: 600;
        padding:10px 10px 10px 0px;
    }

    a:hover{
        border-bottom: 3px solid $primaryColorDarkGray;
    }

    .material-icons {
        font-size: 40px;
        font-weight: 400px;
        padding-left: 10px;
    }


}