body {
  font-size: 12px;
  margin: 0;
  font-family: "Spartan", sans-serif;
  /*a:hover{
        border-bottom: 3px solid $primaryColorDarkGray;
    }*/
}

body .the-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .openBtn {
  position: absolute;
  z-index: 100;
  top: 2rem;
  left: 1rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

body .openBtn span {
  font-size: 35px;
  cursor: pointer;
}

body .openBtn .xIcon {
  display: none;
}

body nav .main-logo-container {
  width: 100px;
  position: absolute;
  top: 2.5rem;
  left: 40%;
}

body nav #page-logo {
  width: 100%;
  height: auto;
}

body #overlay {
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  list-style: none;
  background-color: white;
  padding: 43px 20px;
  margin: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 10;
}

body #overlay li a {
  letter-spacing: 1px;
  text-transform: lowercase;
  color: #454545;
  font-size: 13px;
  padding: 10px 15px 10px 0px;
}

body nav #showMenu {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .slideshow-container {
  margin: auto;
  position: relative;
}

body .slideshow-container .next-prev-buttons {
  cursor: pointer;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  right: 0;
  bottom: 0;
  padding: 0;
}

body .slideshow-container .next-prev-buttons img {
  padding: 20px;
  width: 20px;
  background-color: black;
}

body .slider-photo img,
body .photo-about-dark img,
body .photo-about-light img {
  width: 100%;
}

body .photo-about-dark {
  padding-top: 25px;
}

body .discover,
body .about {
  padding: 25px 20px;
}

body .discover h1, body .discover h2,
body .about h1,
body .about h2 {
  padding-top: 25px;
}

body .discover h1,
body .about h1 {
  font-size: 25px;
}

body .discover h2,
body .about h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
}

body p {
  line-height: 1.4rem;
  color: #a1a1a1;
  font-weight: 400;
  padding: 10px 0px 20px 0px;
}

body .shop {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body a {
  letter-spacing: 10px;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 10px 10px 0px;
  text-decoration: none;
}

body .material-icons {
  font-size: 40px;
  font-weight: 400px;
}

body .attribution {
  margin-top: 20px;
}

body .attribution a {
  letter-spacing: unset;
  text-transform: unset;
}

/* 
#navigation {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        transition: 0.3s;
        background-color: aqua;
    
        #overlay {
            position: relative;
            top: 5%;
            width: 100%;
            display: none; 
            flex-direction: row;

            a {
                padding: 15px;
                letter-spacing: 1px;
                display: block;
            }
        }

        */
/*# sourceMappingURL=mobile.css.map */